<div class="container-fluid productlist">
	<div class="row">
		<div class="col-sm-12">
			<div class="top-box">
				<h3>Beautiful handcrafted canvas pieces.</h3>
			</div>
		</div>
		<div class="col-sm-6">
			<a href="product1.html">
				<img src="/assets/img/vase_1a.jpg" class="img-responsive" alt="item">
			</a>
		</div>
		<div class="col-sm-6">
			<a href="product1.html">
				<img src="/assets/img/vase_1a.jpg" class="img-responsive" alt="item">
			</a>
		</div>
		
	</div>
</div>