<div class="container-fluid content">
	<h1>Order Completed Successfully</h1>
	<%= link_to "Return to your order page", custom_path(@custom, :code => @custom.pass_key) %>
	<%= link_to "Return to home", root_path %>
</div>